.Translate{
  position: relative;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;

  form{
    height: 50%;
  }
  .inputBox{
    display: flex;
    width: 100vw;
    padding: 20px;
    padding-bottom: 85%;
    box-sizing: border-box;
    font-size: 30px;

    border-top: 0;
    border-left: 0;
    border-right: 0;


    &:focus{
      outline: none;
    }
  }

  .middleBox{
    height: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p{
      cursor: pointer;
      background: white;
      box-shadow: 1px 2px 3px 2px #ccc;
      padding: 10px 20px;
      border-radius: 25px;
    }
  }
  
  .submit{
    width: 75px;
    height: 75px;
    background: #000;
    background: $red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @keyframes spin{
      from {transform: rotate(0);}
      to {transform: rotate(180deg);}
    }

    i{
      font-size: 40px;
      color: white;

      &.spinMe{
        animation: spin 1s linear infinite;
      }
    }

  }

  .outputBox{
    height: 50%;
    font-size: 30px;
    padding: 20px;
    padding-top: 10%;
    background: $white1;


    p{
      display: flex;
      align-items: center;

      i{
        margin-left: 10px;
        cursor: pointer;

        &.active{
          color: blue;
        }
      }


    }

  }
}
