.Navbar{
    height: 65px;
    padding: 0 12px;
    background: $red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    $h: 45px;

    .points{
        display: flex;
        align-items: center;
        height: 100%;
        img{
            height: 30px;
            margin-right: 10px;
        }
        p{
            color: $white;
        }
    }


    .menu{
        height: $h;
        width: $h;
        border-radius: 50%;
        background: $white;
        position: relative;
        cursor: pointer;

        .menuIcon{
            height: $h;
            width: $h;
            border-radius: 50%;
            background: $white;
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            i{
                color: $red;
            }


        }

        .extendedMenu{
            position: absolute;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            right: 0;
            transition: all 0.3s ease-out;
            width: $h;
            height: $h;
            border-radius: $h/2;
            background: $white;


            .menuItem{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                //background: $blue;

                transition: 0.2s all ease-out;
                opacity: 0;
                visibility: hidden;
                margin-right: 30px;

                img{
                    height: 100%;
                    width: 100%;
                }
            }

            &.open{
                width: 260px;
                padding: 0 30px;


                &.showIcons{
                    .menuItem{
                        opacity: 1;
                        visibility: visible;
                    }

                }

            }
        }
    }

}
