.Auth{
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  width: 100vw;
  height: 100vh;

  [class*='googleButton']{
    width: 220px;
    justify-content: center;
  }


  img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }

  h1{
    text-align: center;
  }
}